/* Main settings */
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    background-image: url(../pics/a.jpg);
    color:white;
}


/* Container */
.container{
    background-color: #fea600;
    max-width: 30rem;
    margin: 0 auto;
    margin: 5rem auto;
    display: grid;
    grid-template-columns: repeat(3 , 4fr);
    grid-template-areas: 
    "head head head head"
    "stopwatch stopwatch stopwatch stopwatch"
    "start stop reset null"
    ;
}
.head{
    grid-area: head;
    text-align: center;
    font-size: 5rem;
}
.stopwatch{
    grid-area: stopwatch;
    text-align: center;
    font-size: 3rem;
}

.start{
    padding: 1rem;
    grid-area: start;
    text-align: center;
    border: 1px white solid;
    border-radius: 10px;
    margin: 1rem;
    transition-duration: 0.1s;
    cursor: pointer;
}
.stop{
    padding: 1rem;
    grid-area: stop;
    text-align: center;
    border: 1px white solid;
    border-radius: 10px;
    margin: 1rem;
    transition-duration: 0.1s;
    cursor: pointer;
}
.reset{
    padding: 1rem;
    grid-area: reset;
    text-align: center;
    border: 1px white solid;
    border-radius: 10px;
    margin: 1rem;
    transition-duration: 0.1s;
    cursor: pointer;
}

.start:hover{
    background-color: #cc880a;
}
.stop:hover{
    background-color: #cc880a;
}
.reset:hover{
    background-color: #cc880a;
}